<section class="footer">
    <div class="container">
        <div class="col-md box">
            <h3>Giới thiệu</h3>
            <p>
                Chào mừng bạn đến với trang web thời trang của chúng tôi! Chúng tôi là một nhóm các chuyên gia thời
                trang và kinh doanh trực tuyến, cung cấp cho bạn những sản phẩm thời trang chất lượng cao với giá cả
                hợp lý.
            </p>
        </div>


        <div class="col-md box">
            <h3>category</h3>
            <a href="#"> <i class="fas fa-arrow-right"></i> Đồ Nam </a>
            <a href="#"> <i class="fas fa-arrow-right"></i> Đồ Nữ </a>
            <a href="#"> <i class="fas fa-arrow-right"></i> Đồ Trẻ Em</a>
            <a href="#"> <i class="fas fa-arrow-right"></i> Đồ Phụ Kiện </a>
            <a href="#"> <i class="fas fa-arrow-right"></i> Bán chạy nhất </a>
        </div>


        <div class="col-md box">
            <h3>quick links</h3>
            <a href="#"> <i class="fas fa-arrow-right"></i> trang chủ </a>
            <a href="#products"> <i class="fas fa-arrow-right"></i> sản phẩm </a>
            <a href="#featured"> <i class="fas fa-arrow-right"></i> nổi bật </a>
            <a href="#review"> <i class="fas fa-arrow-right"></i> đánh giá </a>
            <a href="@Url.Action("WeatherApp","Weather")"> <i class="fas fa-arrow-right"></i> Weather App </a>
        </div>


        <div class="col-md box">
            <h3>extra links</h3>
            <a href="#"> <i class="fas fa-arrow-right"></i> đơn hàng </a>
            <a href="#"> <i class="fas fa-arrow-right"></i> tài khoản </a>
            <a href="#"> <i class="fas fa-arrow-right"></i> danh sách </a>
            <a href="#"> <i class="fas fa-arrow-right"></i> mua ngay </a>
            <a href="#"> <i class="fas fa-arrow-right"></i> ưu đãi mới </a>
        </div>

    </div>

    <div class="share">
        <a href="https://www.facebook.com/Van.Anh.130203/" class="fab fa-facebook-f"></a>
        <a href="https://github.com/anhvu13" class="fab fa-twitter"></a>
        <a href="https://www.pinterest.com/vuvananh010203/" class="fab fa-pinterest"></a>
        <a href="#" class="fab fa-github"></a>
        <a href="https://www.instagram.com/vananhvu1302/" class="fab fa-instagram"></a>
    </div>

    <div class="credit">
        © copyright 2023 by <span>Vũ Văn Anh</span>
    </div>
</section>
