<div class="chat-bot">
    <img src="~/Content/Images/chatbot-avatar.png" alt="chat-bot" id="avatar-chat-bot" class="chat-bot-image" />
    <div class="chat-bot-content-box" id="content-box" style="display: none;">
        <div class="col-8">
            <h4>Mua hàng và thanh toán bằng giọng nói</h4>
        </div>
        <div class="col-2">
            <button type="button" class="instructions-btn"><i class="fa fa-exclamation" style="font-size: 20px;"></i></button>
            <div class="instructions-box">
                <h3>Cú pháp sử dụng:</h3>
                <h5>- Thêm + tên sản phẩm</h5>
                <h5>- Xóa + tên sản phẩm</h5>
                <h5>- Xóa giỏ hàng</h5>
                <h5>- Thanh toán</h5>
            </div>
        </div>
        <div class="col-2">
            <button type="button" onclick="startSpeechRecognition()"><i class="fa fa-microphone" style="font-size: 27px;"></i></button>
        </div>
    </div>
</div>